html, body {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
}

body {
  display: flex;
  justify-content: center; 
  align-items: center; 
  background-color: #409db7cd; 
}

.content {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #c92a0a;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  justify-content: flex-end;
}

button:hover {
  background-color: #58e411;
  
}